h1 {
  color:purple;
  font-style: italic;
  .green-background {
          background-color: green;
        }

        .yellow-background {
          background-color: yellow;
        }

        .red-background {
          background-color: red;
        }
